<!DOCTYPE html>
<html lang="es">  
<head>    
	<meta charset="UTF-8">
    <title>Título de la WEB</title>    
</head>  
<body>    
    <header>
        <h1>Programacion Visual APU</h1>      
    </header>    
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Contactanos</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
       </ul>
    </nav>
<main>
    <section>
		<h2>Sobre la materia Programacion Visual </h2>
		<a>La materia programacion Visual se dicta en la carrera de APU(Analista Programador Universitario) en su segundo año, su objetivo es que seamos capaces de desarrollar aplicaciones
			web con el lenguaje de programacion JAVA acompañado de HTML5 Y CSS3.
		</a>
			<h3>Primeras semanas de la materia</h3> 
			 	
			<ol>
				<li>Instalacion de programas para la materia</li>
				<li>Version de java usada</li>
				<li>Conceptos basicos y un poco avanzado de JAVA</li>
			</ol>	
			<table>
				<thead>
					<tr>
						<th>Programa para desarrollar el lenguaje de JAVA</th>
						<th>Version de JAVA que usamos</th>
						<th>Conceptos Basicos</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a>
							El programa que usaremos para el desarrollo del lenguaje<br>
							 es Spring Tool Suite 4
						</a></td>
						<td><a>
							La version de JAVA que usaremos es JDK 17 que tiene actualizaciones de seguridad, rendimiento<br>
							 y corrección de errores hasta septiembre de 2029.
						</a></td>
						<td><a>
							Los conceptos basicos que vemos sobre el lenguaje en las primeras tres semanas son:	
							<ul>
								<li>creación de clases, atributos, métodos y estructuras de control selectivas</li>
								<li>Introducir el uso del tipo de datos String y Fecha</li>
								<li>Introducir a los estudiantes en el uso de los arreglos.Conceptualizar brevemente el uso de interfaces</li> 
							</ul>
						</a></td>
					</tr>
				</tbody>
			</table>
				
	</section>		
				
	<section>
		<h2>Como son las clases de la materia Programacion Visual</h2>	
		<a> Las clases de la materia Programacion Visual consta de una clase general de teoria para todos los alumnos y para la parte practica se dividen en 3 comisiones,
			la primera comision es el Lunes, la segunda comision es el Jueves y la tercera comision es el Viernes
		</a>
					<h3>Comisiones</h3> 
					 	
					<ol>
						<li>Comision del Lunes</li>
						<li>Comision del Jueves</li>
						<li>Comision del Viernes</li>
					</ol>	
					<table>
						<thead>
							<tr>
								<th>Comision del Lunes</th>
								<th>Comision del Jueves</th>
								<th>Comision del Viernes</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a>
									La comision del Lunes se dicta de 18hr a 21hr,<br> es dirgida por la profesora Carolina Apaza.
								</a></td>
								<td><a>
									La comision del Jueves se dicta de 14hr a 17hr,<br> es dirgida por el profesor Gustavo Sosa.
								</a></td>
								<td><a>
									La comision del Lunes se dicta de 18hr a 21hr,<br> es dirgida por el profesor Juan Carlos Rodriguez.
								</a></td>
							</tr>
						</tbody>
					</table>		
	</section>				
				
    <section>
		<h2></h2>				   
	</section>
		
		
		
		
		
		
</main>
<aside>
	Enlances con informacion sobre la materia y programas usados en la cursada<br>
	<a href="https://virtual.unju.edu.ar/mod/resource/view.php?id=371299">Programa de la materia</a><br>
	<a href="https://www.oracle.com/ar/java/technologies/downloads/">Pagina para descargar JDK 17</a><br>
	<a href="	https://spring.io/tools">Pagina para descargar Spring Tools Suite 4</a><br>
	<img src="/src/main/resources/static/JAVA VERSION.png" alt="Imagen de la version de JAVA utilizada"
</aside>
    <footer>
        <h4>Redes sociales</h4>
        <a href="#">Facebook</a>
        <a href="#">Tiwtter</a>
    </footer>
</body>  
</html>