<!DOCTYPE html>
<html lang="es">  
<head>    
	<meta charset="UTF-8">
    <title>Título de la WEB</title>    
</head>  
<body>    
    <header>
        <h1>Programacion Visual APU</h1>      
    </header>    
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Contactanos</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
       </ul>
    </nav>
<main>
    <section>
		<h2>¿Que es la programacion visual?  </h2>
		<a>La programación visual es un tipo de lenguaje de programación que permite a sus usuarios ilustrar
			 sus procesos, o dicho de otra forma, se trata de un lenguaje de programación visual que permite
			  a los desarrolladores explicar el proceso con palabras comprensibles para los usuarios, 
			  a diferencia de un lenguaje informático tradicional basado en texto.</a>
			<h3>Diferencias con otros tipos de programacion</h3> 
			 	
			<ol>
				<li>Sintaxis</li>
				<li>Tipado</li>
				<li>Paradigma de Programacion</li>
			</ol>	
				
	</section>		
				
	<section>
		<h2>¿Para que sirve la programacion visual?  </h2>			
	</section>				
				
    <section>
		<h2>¿Que lenguajes de programacion se usan en Programacion Visual?</h2>				   
	</section>
		
		
		
		
		
		
</main>
    <footer>
        <h4>Redes sociales</h4>
        <a href="#">Facebook</a>
        <a href="#">Tiwtter</a>
    </footer>
</body>  
</html>