<!DOCTYPE html>
<html lang="es">  
<head>    
	<meta charset="UTF-8">
    <title>Título de la WEB</title>    
</head>  
<body>    
    <header>
        <h1>Programacion Visual APU</h1>      
    </header>    
    <nav>
        <ul>
            <li><a href="https://virtual.unju.edu.ar/">Pagina de el aula virtual de la Universidad Nacional de Jujuy</a></li>
            <li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Pagina de la materia Programacion Visual</a></li>
            <li><a href="https://virtual.unju.edu.ar/mod/forum/view.php?id=234496">Pagina de los anuncios de la materia Programacion Visual</a></li>
       </ul>
    </nav>
<main>
    <section>
		<h2>Sobre la materia Programacion Visual </h2>
		<p>La materia programacion Visual se dicta en la carrera de APU(Analista Programador Universitario) en su segundo año, su objetivo es que seamos capaces de desarrollar aplicaciones
			web con el lenguaje de programacion JAVA aprendiendo sus conceptos basicos y avanzados, acompañado de HTML5 Y CSS3.
		</p>
			<h3>Primeras semanas de la materia</h3> 
			 	
			<ol>
				<li>Instalacion de programas para la materia</li>
				<li>Version de java usada</li>
				<li>Conceptos basicos y un poco avanzado de JAVA</li>
			</ol>	
			<table>
				<thead>
					<tr>
						<th>Programa para desarrollar el lenguaje de JAVA</th>
						<th>Version de JAVA que usamos</th>
						<th>Conceptos Basicos</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							El programa que usaremos para el desarrollo del lenguaje<br>
							 es Spring Tool Suite 4
						</td>
						<td>
							La version de JAVA que usaremos es JDK 17 que tiene actualizaciones de seguridad, rendimiento<br>
							 y corrección de errores hasta septiembre de 2029.
						</td>
						<td>
							Los conceptos basicos que vemos sobre el lenguaje en las primeras tres semanas son:	
							<ul>
								<li>creación de clases, atributos, métodos y estructuras de control selectivas</li>
								<li>Introducir el uso del tipo de datos String y Fecha</li>
								<li>Introducir a los estudiantes en el uso de los arreglos.Conceptualizar brevemente el uso de interfaces</li> 
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
				
	</section>		
				
	<section>
		<h2>Como son las clases de la materia Programacion Visual</h2>	
		<p> Las clases de la materia Programacion Visual consta de una clase general de teoria para todos los alumnos y para la parte practica se dividen en 3 comisiones,
			la primera comision es el Lunes, la segunda comision es el Jueves y la tercera comision es el Viernes
		</p>
					<h3>Comisiones</h3> 
					 	
					<ol>
						<li>Comision del Lunes</li>
						<li>Comision del Jueves</li>
						<li>Comision del Viernes</li>
					</ol>	
					<table>
						<thead>
							<tr>
								<th>Comision del Lunes</th>
								<th>Comision del Jueves</th>
								<th>Comision del Viernes</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									La comision del Lunes se dicta de 18hr a 21hr,<br> es dirgida por la profesora Carolina Apaza.
								</td>
								<td>
									La comision del Jueves se dicta de 14hr a 17hr,<br> es dirgida por el profesor Gustavo Sosa.
								</td>
								<td>
									La comision del Lunes se dicta de 18hr a 21hr,<br> es dirgida por el profesor Juan Carlos Rodriguez.
								</td>
							</tr>
						</tbody>
					</table>		
	</section>				
				
    <section>
		<h2>Seccion de la materia Programacion visual en la pagina de la Universidad Nacional de Jujuy</h2>	
		<p> En la pagina de la Universidad Nacional de Jujuy podremos encontrar varias secciones pero la seccion que nos importa es la de Programacion Visual y su estructura
				</p>
							<h3>Seccion Programacion Visual</h3> 
							 	
							<ol>
								<li>Semanas en programacion Visual</li>
								<li>Clases de consulta</li>
								<li>Informacion extra</li>
							</ol>	
							<table>
								<thead>
									<tr>
										<th>Semanas en Programacion Visual</th>
										<th>Clases de consulta</th>
										<th>Adicional</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											La seccion de Programacion Visual esta dividida en semanas cada una contiene su respectiva teoria que incluyen Pdfs, videos explicativos<br>
											 y la clase de teoria semanal.
											Tambien si es que corresponde incluye el Trabajo practico para realizar y la seccion de entrega del Trabajo Practico.
										</td>
										
										<td>
											Las clases de consulta se dictan los dias Miercoles, Jueves y Viernes<br>
											<ul>
												<li>Viernes de 08:30hr a 09:30hr la dicta el profesor Ariel Vega</li>
												<li>Jueves de 17:00hr a 18:00hr la dicta la profesora Carolina Apaza</li>
												<li>Jueves de 20:00hr a 21:00hr la dicta el profesor Gustavo Sosa</li>
												<li>Miercoles de 18:00hr a 19:00hr la dicta el profesor Juan Carlos Rodriguez</li>
											</ul>
										</td>
										
										<td>
											Tambien podemos encontrar informacion adicional como por ejemplo:<br>
											<ul>
												<li>Registro de Seguimiento</li>
												<li>Los proyectos usados en clase</li>
												<li>El programa de la materia del presente año</li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>					   
	</section>

</main>
<aside>
	<h4>Enlances con informacion sobre la materia y programas usados en la cursada</h4>
	<a href="https://virtual.unju.edu.ar/mod/resource/view.php?id=371299">Programa de la materia</a><br>
	<a href="https://www.oracle.com/ar/java/technologies/downloads/">Pagina para descargar JDK 17</a><br>
	<a href="	https://spring.io/tools">Pagina para descargar Spring Tools Suite 4</a><br>
	<img src="https://virtual.unju.edu.ar/pluginfile.php/420518/course/section/41401/logopv.png" alt="Imagen de el nombre de la materia">
</aside>
    <footer>
        <h4>Redes sociales</h4>
        <a href="https://www.facebook.com/leonardo.campos.39948/">Facebook</a><br>
        <a href="https://www.tiktok.com/@cubostiktok">TikTok</a><br>
		<a href="https://twitter.com/Leonard47326144">X</a><br>
    </footer>
</body>  
</html>